################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPNETCoreIdentityDemo/bin/Debug/net9.0
/.vs
/ASPNETCoreIdentityDemo/obj
